6-applying-model/txts/blog-prompt.txt
6-applying-model/txts/experience.txt
7-intepreting-results/experience.txt
8-ml-introductioon/experience.txt
9-ml-handson/experience.txt
10-decision-tree-to-xgboost/experience.txt